
@{
    ViewData["Title"] = "QueueMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="display:flex;justify-content:space-between">
    <h1>QueueMenu</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Create Room
    </button>
</div>
@{ 

}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Draw Rooms</th>
    </tr>
    @for (int i = 1; i < 10; i++)
    {
        <tr>
            <th>@i</th>
            <th> <a href="@Url.Action("Index","Home")">text</a></th>
        </tr>
    }
</table> 

@await Html.PartialAsync("~/Views/Home/Partials/CreateRoomModal.cshtml")
